<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632942902686-pqgb9m728surhvuris4msd4m59j7mfg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632942902686-pqgb9m728surhvuris4msd4m59j7mfg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAb_aa5LnKYJ5i2MmYNo5vY8XZHRv8JkA8</string>
	<key>GCM_SENDER_ID</key>
	<string>632942902686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junichi.goRoutetRedirect</string>
	<key>PROJECT_ID</key>
	<string>whereapp-83468</string>
	<key>STORAGE_BUCKET</key>
	<string>whereapp-83468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632942902686:ios:e81e4bb75f11701cb5ea8f</string>
</dict>
</plist>